.emailList {
    flex: 1;
    overflow: scroll;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }


    &__settings {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        border-bottom: 1px solid whitesmoke;
        background-color: white;
        z-index: 999;
        padding-right: 10px;
    }

    &__sections {
        position: sticky;
        top: 0;
        display: flex;
    }
}